---
// Curve-asymmetrical SVG divider from the source. Place between two
// dark-background sections to add the signature wavy transition. Defaults
// fill matches the page background.
interface Props {
  flip?: boolean;
  invert?: boolean;
  height?: number;
}
const { flip = false, invert = false, height = 60 } = Astro.props;
---

<div
  class:list={["shape-divider-wrapper", flip ? "scale-y-[-1]" : "", invert ? "shape-divider--invert" : ""]}
  style={`height:${height}px;line-height:0;`}
  aria-hidden="true"
>
  <svg
    class="shape-divider"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 100"
    preserveAspectRatio="none"
    style={`height:${height}px;width:100%;display:block;`}
  >
    <path d="M615.2,96.7C240.2,97.8,0,18.9,0,0v100h1000V0C1000,19.2,989.8,96,615.2,96.7z" />
  </svg>
</div>
